/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dark-gray-color: #272928;
  --ligth-gray-color: #9b9e9d;
  --grey-color: #272928;
  --white-color: #ffffff;
}

body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  color: var(--dark-gray-color);
}

a {
  color: var(--dark-gray-color);
}

.container-centered {
  margin: 20px auto;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
  width: 1024px;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
}

.two-columns {
  display: flex;
}

.left-column {
  width: 38%;
  color: var(--white-color);
  background-color: var(--grey-color);
  padding-bottom: 19px;
}

.right-column {
  width: 62%;
  padding: 50px 30px 20px 20px;
}

header {
  padding: 45px 30px 30px 30px;
  text-align: center;
  background-color: var(--grey-color);
}

header img {
  border-radius: 50%;
}

header .profile-img {
  margin: auto;
  border-radius: 50%;
  background-image: url("./assets/ava2.png");
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.name {
  margin-bottom: 10px;
  margin-left: 40px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 7px;
}

.position {
  margin-left: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

header p {
  margin-bottom: 20px;
}

main {
  padding: 0 10px;
}

main h3 {
  width: 100%;
  margin: 30px 0 20px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: var(--dark-gray-color);
  border-bottom: 2px solid var(--ligth-gray-color);
}

main .contacts h3 {
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(0, -50%);
}

main li {
  margin-bottom: 10px;
}

.contacts {
  margin-left: 30px;
}

.contacts ul {
  list-style: none;
}

.contacts li img {
  vertical-align: middle;
  margin-right: 15px;
}

.contacts li p {
  display: inline;
  vertical-align: middle;
}

.contacts a {
  text-decoration: none;
  color: var(--white-color);
}

.education {
  margin-left: 30px;
}

.education__item {
  margin-bottom: 20px;
}

.aducation__year,
.aducation__place {
  color: var(--ligth-gray-color);
}

.aducation__degree {
  text-transform: uppercase;
}

.aducation__place,
.aducation__proficient,
.aducation__year {
  font-size: 16px;
}

.right-column .sub-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.right-column .about-myself .sub-header {
  margin-top: 0;
}

.about-myself p {
  margin-bottom: 5px;
  margin-left: 45px;
}

.about-myself p:last-of-type {
  margin-bottom: 0;
}

.right-column h3 {
  flex: 1;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.right-column img {
  vertical-align: middle;
  margin-right: 15px;
}

.work-list p {
  margin-left: 45px;
}

.work p strong {
  font-weight: 700;
}

.portfolio p {
  margin-left: 45px;
}

strong {
  font-weight: 700;
}

.portfolio li {
  margin-bottom: 10px;
  list-style: none;
}

.right-column img.score-img {
  display: block;
  margin: 0 auto;
}

.right-column section {
  margin-bottom: 30px;
}

.underline-text {
  text-decoration: underline;
}

.skills {
  margin-left: 30px;
}

.skills div {
  margin-bottom: 5px;
  color: var(--ligth-gray-color);
}

.languages {
  font-size: 17px;
  margin-left: 30px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.about__description {
  margin-left: 45px;
}

.work-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.work-duties {
  margin-left: 25px;
}

.work-experience {
  margin-left: 45px;
}

.work__place strong {
  text-transform: uppercase;
}

.work-duties {
  flex: 0 1 70%;
}

.profile-expertise-title {
  text-align: center;
  text-decoration: underline;
}
